.main {
    height: 100%;
    background-color: rgb(32, 36, 39);
    box-shadow: inset 0 -2px 8px rgb(0 0 0 / 9%),
        inset 0 4px 8px rgb(0 0 0 / 6%), inset 0 1px 2px rgb(0 0 0 / 30%),
        inset 0 2px 6px rgb(0 0 0 / 15%);
    display: grid;
    grid: auto-flow 200px / repeat(auto-fill, 200px);
    justify-content: space-evenly;
    padding: 30px;
    gap: 30px;
    overflow-y: auto;
}

.book {
    background-color: rgb(52, 56, 59);
    height: 200px;
    width: 200px;
    box-shadow: 0 -2px 8px rgb(0 0 0 / 9%), 0 4px 8px rgb(0 0 0 / 6%),
        0 1px 2px rgb(0 0 0 / 30%), 0 2px 6px rgb(0 0 0 / 15%);
}

.cover {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
